<mat-card>
  <div layout="column">
    <div flex>
      Hello {{ fullName }}, you can modify your profile.
    </div>
    <div flex>
      <pmat-text fieldName="name"></pmat-text>
    </div>
    <div flex>
      <pmat-text fieldName="surname"></pmat-text>
    </div>
    <div flex>
      <button mat-raised-button color="primary" (click)="protrEditorService.save()"
          [disabled]="!(protrEditorService.currentCrudResponseObservable | async)?.isModified">
        Save
      </button>
      <button mat-raised-button color="accent" (click)="protrEditorService.cancel()"
          [disabled]="!(protrEditorService.currentCrudResponseObservable | async)?.isModified">
        Cancel
      </button>
    </div>
  </div>
</mat-card>
